* {
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#F6ACE3;
    color: rgba(255,255,255,0.8);
    padding: 10px 0;
}

h2.logo {
    margin-left: 100px;
}

.lips {
    height: 8%;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav{
    margin-right: 25px;
}

nav li{
    display: inline;
    margin: 5px;
}

.productArray{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
}
.productArray li{
    list-style-type: none;
    font-size: 12px;
    width: 250px;
}

.productArray li:first-of-type {
    font-size: 16px;
    text-shadow: 2px;
}

.productArray li:nth-child(3){
    font-style: italic;
}


/* add styling for screens 768px and above below */
@media screen and (min-width: 768px) {
            





}
