* {
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

#container {
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}


nav a:visited, a:active {
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color:#F6ACE3;
    color: white;
    padding: 10px 5px;
}

h1.logo {
    margin-left: 65px;
    white-space: nowrap;
    font-family: 'Liu Jian Mao Cao', cursive;
    padding: 5px;
}

.lips {
    height: 6%;
    position: absolute;
    left: 10px;
}

nav {
    margin-right: 45px;
}

nav li {
    display: inline;
    margin: 3px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
}
nav img {
    height: 30px;
}

/* .cart {
    width: 30px;
    position: absolute;
    right: 10px;
    display: inline;
} */

.productArray {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
}
.productArray li {
    list-style-type: none;
    font-size: 14px;
    width: 250px;
}

.productArray li:first-of-type {
    font-size: 16px;
    text-shadow: 2px;
}

.productArray li:nth-child(3) {
    font-style: italic;
}

.makeup{
    height: 100px;
    width: 100px;
}

button {
    background-color: #F6ACE3;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid darkgray;
    box-shadow: 2px 2px darkgrey;
    font-size: 15px;
    cursor: pointer;
}

/* add styling for screens 768px and above below */
@media screen and (min-width: 768px) {

nav li{
    font-size: 15px;
}            

}
