* {
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

nav{
    margin-right: 25px;
}

nav li{
    display: inline;
    margin: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#F6ACE3;
    color: rgba(255,255,255,0.8);
    padding: 10px 0;
}

.lips {
    height: 8%;
    position: absolute;
    top: 10px;
    left: 10px;
}